.question-and-answer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.question-and-answer div{
    border: 1px solid gray;
    padding: 20px;
    /* border-radius: 30px; */
    
}

.question-and-answer h3{
    color: green;
}

@media only screen and (max-width: 768px) {
    .question-and-answer{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .question-and-answer div{
        border-radius: 30px;
        
    }
  }