.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cards-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    grid-gap: 30px;
    margin-top: 30px;
}
.cart-section{
    background-color: #B9DCB9;
    padding: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
     
}

.questions-answer{
    padding: 10px;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .main-container{
        grid-template-columns: 1fr;
    }

    .cards-section{
        grid-template-columns: 1fr;
    }
  }
